create database QLDienThoai
go
use QLDienThoai
go
--drop tables & keys
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_QUOC_TE_CUOC_QUOC_TE]') AND type = 'F')
ALTER TABLE [dbo].[CG_QUOC_TE] DROP CONSTRAINT [FK_CG_QUOC_TE_CUOC_QUOC_TE]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_QUOC_TE_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CG_QUOC_TE] DROP CONSTRAINT [FK_CG_QUOC_TE_THUE_BAO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CUOC_THANG_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CUOC_THANG] DROP CONSTRAINT [FK_CUOC_THANG_THUE_BAO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_TRONG_NUOC_CUOC_TRONG_NUOC]') AND type = 'F')
ALTER TABLE [dbo].[CG_TRONG_NUOC] DROP CONSTRAINT [FK_CG_TRONG_NUOC_CUOC_TRONG_NUOC]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_TRONG_NUOC_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CG_TRONG_NUOC] DROP CONSTRAINT [FK_CG_TRONG_NUOC_THUE_BAO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_THUE_BAO_KHACH_HANG]') AND type = 'F')
ALTER TABLE [dbo].[THUE_BAO] DROP CONSTRAINT [FK_THUE_BAO_KHACH_HANG]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CG_QUOC_TE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[CG_QUOC_TE]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_THANG]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[CUOC_THANG]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CG_TRONG_NUOC]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[CG_TRONG_NUOC]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_QUOC_TE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[CUOC_QUOC_TE]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[THUE_BAO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[THUE_BAO]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[KHACH_HANG]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[KHACH_HANG]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_TRONG_NUOC]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[CUOC_TRONG_NUOC]


-- create database
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_TRONG_NUOC]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[CUOC_TRONG_NUOC](
	[MA_TD] [char](4) NOT NULL,
	[TINH_THANH] [nvarchar](30) NULL,
	[GIA_PHUT_DAU] [money] NULL,
	[GIA_PHUT_SAU] [money] NULL,
 CONSTRAINT [PK_CUOC_TRONG_NUOC] PRIMARY KEY CLUSTERED 
(
	[MA_TD] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[KHACH_HANG]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [char](9) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[CMND] [char](9) NULL,
	[DIACHI] [nvarchar](10) NULL,
	[DUONG] [nvarchar](30) NULL,
	[QUAN] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_QUOC_TE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[CUOC_QUOC_TE](
	[MA_NUOC] [char](4) NOT NULL,
	[TEN_NUOC] [nvarchar](20) NULL,
	[GIA_PHUT_DAU] [money] NULL,
	[GIA_PHUT_SAU] [money] NULL,
 CONSTRAINT [PK_CUOC_QUOC_TE] PRIMARY KEY CLUSTERED 
(
	[MA_NUOC] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CG_TRONG_NUOC]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[CG_TRONG_NUOC](
	[SO_DT] [char](7) NOT NULL,
	[NGAY_GIO] [datetime] NOT NULL,
	[MA_TD] [char](4) NULL,
	[SO_MAY_NGHE] [char](7) NULL,
	[SO_PHUT] [int] NULL,
	[THANH_TIEN] [money] NULL,
 CONSTRAINT [PK_CG_TRONG_NUOC] PRIMARY KEY CLUSTERED 
(
	[SO_DT] ASC,
	[NGAY_GIO] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[THUE_BAO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[THUE_BAO](
	[SO_DT] [char](7) NOT NULL,
	[MA_KH] [char](9) NULL,
	[NGAY_BD] [datetime] NULL,
	[DINH_MUC_TN] [money] NULL,
	[DINH_MUC_QT] [money] NULL,
 CONSTRAINT [PK_THUE_BAO] PRIMARY KEY CLUSTERED 
(
	[SO_DT] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CG_QUOC_TE]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[CG_QUOC_TE](
	[SO_DT] [char](7) NOT NULL,
	[NGAY_GIO] [datetime] NOT NULL,
	[MA_NUOC] [char](4) NULL,
	[SO_MAY_NGHE] [char](9) NULL,
	[SO_PHUT] [int] NULL,
	[THANH_TIEN] [money] NULL,
 CONSTRAINT [PK_CG_QUOC_TE] PRIMARY KEY CLUSTERED 
(
	[SO_DT] ASC,
	[NGAY_GIO] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[CUOC_THANG]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
BEGIN
CREATE TABLE [dbo].[CUOC_THANG](
	[SO_DT] [char](7) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[VND] [money] NULL,
	[USD] [money] NULL,
 CONSTRAINT [PK_CUOC_THANG] PRIMARY KEY CLUSTERED 
(
	[SO_DT] ASC,
	[THANG] ASC,
	[NAM] ASC
) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_TRONG_NUOC_CUOC_TRONG_NUOC]') AND type = 'F')
ALTER TABLE [dbo].[CG_TRONG_NUOC]  WITH CHECK ADD  CONSTRAINT [FK_CG_TRONG_NUOC_CUOC_TRONG_NUOC] FOREIGN KEY([MA_TD])
REFERENCES [dbo].[CUOC_TRONG_NUOC] ([MA_TD])
GO
ALTER TABLE [dbo].[CG_TRONG_NUOC] CHECK CONSTRAINT [FK_CG_TRONG_NUOC_CUOC_TRONG_NUOC]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_TRONG_NUOC_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CG_TRONG_NUOC]  WITH CHECK ADD  CONSTRAINT [FK_CG_TRONG_NUOC_THUE_BAO] FOREIGN KEY([SO_DT])
REFERENCES [dbo].[THUE_BAO] ([SO_DT])
GO
ALTER TABLE [dbo].[CG_TRONG_NUOC] CHECK CONSTRAINT [FK_CG_TRONG_NUOC_THUE_BAO]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_THUE_BAO_KHACH_HANG]') AND type = 'F')
ALTER TABLE [dbo].[THUE_BAO]  WITH CHECK ADD  CONSTRAINT [FK_THUE_BAO_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[THUE_BAO] CHECK CONSTRAINT [FK_THUE_BAO_KHACH_HANG]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_QUOC_TE_CUOC_QUOC_TE]') AND type = 'F')
ALTER TABLE [dbo].[CG_QUOC_TE]  WITH CHECK ADD  CONSTRAINT [FK_CG_QUOC_TE_CUOC_QUOC_TE] FOREIGN KEY([MA_NUOC])
REFERENCES [dbo].[CUOC_QUOC_TE] ([MA_NUOC])
GO
ALTER TABLE [dbo].[CG_QUOC_TE] CHECK CONSTRAINT [FK_CG_QUOC_TE_CUOC_QUOC_TE]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CG_QUOC_TE_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CG_QUOC_TE]  WITH CHECK ADD  CONSTRAINT [FK_CG_QUOC_TE_THUE_BAO] FOREIGN KEY([SO_DT])
REFERENCES [dbo].[THUE_BAO] ([SO_DT])
GO
ALTER TABLE [dbo].[CG_QUOC_TE] CHECK CONSTRAINT [FK_CG_QUOC_TE_THUE_BAO]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[FK_CUOC_THANG_THUE_BAO]') AND type = 'F')
ALTER TABLE [dbo].[CUOC_THANG]  WITH CHECK ADD  CONSTRAINT [FK_CUOC_THANG_THUE_BAO] FOREIGN KEY([SO_DT])
REFERENCES [dbo].[THUE_BAO] ([SO_DT])
GO
ALTER TABLE [dbo].[CUOC_THANG] CHECK CONSTRAINT [FK_CUOC_THANG_THUE_BAO]

-- data
insert into KHACH_HANG
values('123456789', N'Nguyễn Tường Vân', '250570414', '330/2', N'Lê Hồng Phong', N'Quận 5')
insert into KHACH_HANG
values('112233445', N'Trần Thanh Tùng', '240460171', '111', N'Trương Định', N'Quận 3')
insert into KHACH_HANG
values('222333444', N'Nguyễn Ngọc Nga', '230580456', '315', N'An Dương Vương', N'Quận 5')

insert into THUE_BAO
values('8156789', '222333444', '3/1/1990', 100000, 50)
insert into THUE_BAO
values('8223304', '112233445', '1/15/2001', 200000, 100)
insert into THUE_BAO
values('8175566', '123456789', '10/30/1995', 300000, 0)

insert into CUOC_TRONG_NUOC
values('8', N'Hồ Chí Minh', 100, 60)
insert into CUOC_TRONG_NUOC
values('61', N'Đồng Nai', 900, 750)
insert into CUOC_TRONG_NUOC
values('63', N'Lâm Đồng', 1200, 1000)

insert into CUOC_QUOC_TE
values(1, N'Canada', 2, 1.5)
insert into CUOC_QUOC_TE
values(2, N'Mỹ', 2, 1.5)
insert into CUOC_QUOC_TE
values(33, N'Pháp', 1.5, 1.25)

insert into CUOC_THANG
values('8156789', 1, 2006, 8200, 22.25)
insert into CUOC_THANG
values('8223304', 1, 2006, 20440, 5.75)
insert into CUOC_THANG
values('8175566', 1, 2006, 1880, 0)

insert into CG_QUOC_TE
values('8156789', '14:10:6 1/1/2006', '2', '123452343', 11, 17)
insert into CG_QUOC_TE
values('8223304', '9:23:25 1/2/2006', '81', '123589646', 4, 3.25)
insert into CG_QUOC_TE
values('8156789', '12:16:00 1/15/2006', '61', '566546573', 5, 5.25)

insert into CG_TRONG_NUOC
values('8175566', '15:10:6 1/1/2006', '8', '8223304', 10, 640)
insert into CG_TRONG_NUOC
values('8223304', '6:23:25 1/2/2006', '8', '8156789', 15, 940)
insert into CG_TRONG_NUOC
values('8175566', '8:16:00 1/3/2006', '8', '8223304', 20, 1240)
